[submodule "equiny-iac"]
	path = equiny-iac
	url = https://github.com/JohnPetros/equiny-iac
[submodule "equiny-server"]
	path = equiny-server
	url = https://github.com/JohnPetros/equiny-server
[submodule "equiny-mobile"]
	path = equiny-mobile
	url = https://github.com/JohnPetros/equiny-mobile
[submodule "equiny-lp"]
	path = equiny-lp
	url = https://github.com/JohnPetros/equiny-lp
